<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:object="${client}" th:action="@{/register}" method="post" autocomplete="on" novalidate="novalidate">
        <h1>Register</h1>
        <label>First name
            <input th:field="*{firstName}" id="firstName" name="firstName" type="text" placeholder="First Name..."/>
        </label>
        <label>Last name
            <input th:field="*{lastName}" id="lastName" name="lastName" type="text" placeholder="Last Name..."/>
        </label>
        <label>Phone number
            <input th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" type="number" placeholder="Phone Number..." minlength="10" maxlength="10"/>
        </label>
        <label>Email
            <input th:field="*{email}" id="email" name="email" type="email" placeholder="Email..."/>
        </label>
        <label>Age
            <input th:field="*{age}" id="age" name="age" type="number" placeholder="Age..." min="18" max="100"/>
        </label>
        <label>Username
            <input th:field="*{username}" id="username" name="username" type="text" placeholder="Username..."/>
        </label>
        <label>Password
            <input th:field="*{password}" id="password" name="password" type="password" placeholder="Password..."/>
        </label>
        <button type="submit">Register</button>
    </form>
</body>
</html>